In [77]:
import pandas as pd
import numpy as np
import re

In [78]:
dataset = pd.read_csv('temp_jogja.csv', delimiter=',', header=0)
dataset.head()

,id,time_ago,ad_link,title,make,model,machine_capacity,variant,year,transmission,fuel,description,amount,area,fuel_fix,transmission_fix
0,5908837.0,01/01/2019,https://www.olx.co.id/iklan/ertiga-gl-2016-aut...,ertiga gl 2016 automatic,suzuki,ertiga,,gl,2016.0,automatic,NaN,,150000000,Yogyakarta,Bensin,Automatic
1,5908897.0,01/01/2019,https://www.olx.co.id/iklan/mobil-sport-hyunda...,mobil sport hyundai coupe,hyundai,coupe,,,2000.0,automatic,NaN,dijual mobil sport hyundai 2 pintu\r\njok depa...,150000000,Yogyakarta,Bensin,Automatic
2,5908953.0,01/01/2019,https://www.olx.co.id/iklan/honda-hrv-type-e-m...,honda hrv type e matic istimewa km rendah,honda,hr-v,,e special editon,2015.0,automatic triptonic,NaN,honda hrv e matic tangan pertama dr baru\r\nko...,245000000,Yogyakarta,Bensin,Automatic
3,5909005.0,01/01/2019,https://www.olx.co.id/iklan/honda-brio-e-cbu-t...,honda brio e cbu th 2012 at,honda,brio,,e,2012.0,automatic,NaN,honda brio e cbu\r\nth 2012\r\nautomatic\r\nfu...,110000000,Yogyakarta,Bensin,Automatic
4,5909035.0,01/01/2019,https://www.olx.co.id/iklan/vellfire-gs-sport-...,vellfire gs sport 2013 istimwa km low,toyota,vellfire,,zg,2013.0,automatic,NaN,vellfire gs sport 2013 istimwa km low\r\nbsa b...,650000000,Yogyakarta,Bensin,Automatic

In [79]:
dataset['ad_link']=dataset['ad_link'].str.lower()
dataset['title']=dataset['title'].str.lower()
dataset['make']=dataset['make'].str.lower()
dataset['model']=dataset['model'].str.lower()
dataset['machine_capacity']=dataset['machine_capacity'].str.lower()
dataset['variant']=dataset['variant'].str.lower()
dataset['transmission']=dataset['transmission'].str.lower()
dataset['fuel']=dataset['fuel'].str.lower()
dataset['description']=dataset['description'].str.lower()
dataset.head()

,id,time_ago,ad_link,title,make,model,machine_capacity,variant,year,transmission,fuel,description,amount,area,fuel_fix,transmission_fix
0,5908837.0,01/01/2019,https://www.olx.co.id/iklan/ertiga-gl-2016-aut...,ertiga gl 2016 automatic,suzuki,ertiga,,gl,2016.0,automatic,NaN,,150000000,Yogyakarta,Bensin,Automatic
1,5908897.0,01/01/2019,https://www.olx.co.id/iklan/mobil-sport-hyunda...,mobil sport hyundai coupe,hyundai,coupe,,,2000.0,automatic,NaN,dijual mobil sport hyundai 2 pintu\r\njok depa...,150000000,Yogyakarta,Bensin,Automatic
2,5908953.0,01/01/2019,https://www.olx.co.id/iklan/honda-hrv-type-e-m...,honda hrv type e matic istimewa km rendah,honda,hr-v,,e special editon,2015.0,automatic triptonic,NaN,honda hrv e matic tangan pertama dr baru\r\nko...,245000000,Yogyakarta,Bensin,Automatic
3,5909005.0,01/01/2019,https://www.olx.co.id/iklan/honda-brio-e-cbu-t...,honda brio e cbu th 2012 at,honda,brio,,e,2012.0,automatic,NaN,honda brio e cbu\r\nth 2012\r\nautomatic\r\nfu...,110000000,Yogyakarta,Bensin,Automatic
4,5909035.0,01/01/2019,https://www.olx.co.id/iklan/vellfire-gs-sport-...,vellfire gs sport 2013 istimwa km low,toyota,vellfire,,zg,2013.0,automatic,NaN,vellfire gs sport 2013 istimwa km low\r\nbsa b...,650000000,Yogyakarta,Bensin,Automatic

In [80]:
dataset=dataset.fillna(' ')
dataset = dataset[~dataset['machine_capacity'].str.contains('km',na=False)] #remove machine capacity with "km"
dataset.head()

,id,time_ago,ad_link,title,make,model,machine_capacity,variant,year,transmission,fuel,description,amount,area,fuel_fix,transmission_fix
0,5.90884e+06,01/01/2019,https://www.olx.co.id/iklan/ertiga-gl-2016-aut...,ertiga gl 2016 automatic,suzuki,ertiga,,gl,2016,automatic,,,150000000,Yogyakarta,Bensin,Automatic
1,5.9089e+06,01/01/2019,https://www.olx.co.id/iklan/mobil-sport-hyunda...,mobil sport hyundai coupe,hyundai,coupe,,,2000,automatic,,dijual mobil sport hyundai 2 pintu\r\njok depa...,150000000,Yogyakarta,Bensin,Automatic
2,5.90895e+06,01/01/2019,https://www.olx.co.id/iklan/honda-hrv-type-e-m...,honda hrv type e matic istimewa km rendah,honda,hr-v,,e special editon,2015,automatic triptonic,,honda hrv e matic tangan pertama dr baru\r\nko...,245000000,Yogyakarta,Bensin,Automatic
3,5.90900e+06,01/01/2019,https://www.olx.co.id/iklan/honda-brio-e-cbu-t...,honda brio e cbu th 2012 at,honda,brio,,e,2012,automatic,,honda brio e cbu\r\nth 2012\r\nautomatic\r\nfu...,110000000,Yogyakarta,Bensin,Automatic
4,5.90904e+06,01/01/2019,https://www.olx.co.id/iklan/vellfire-gs-sport-...,vellfire gs sport 2013 istimwa km low,toyota,vellfire,,zg,2013,automatic,,vellfire gs sport 2013 istimwa km low\r\nbsa b...,650000000,Yogyakarta,Bensin,Automatic

In [81]:
#take machine_capacity column
check_machine = dataset['machine_capacity']
initialize_list = [] #initialize columns for adding the final capacity values
for string in check_machine:
    cc= re.findall('\d+',string)
    if len(cc)>0:
        capacity=int(cc[0])/1000
        initialize_list.append(float(capacity))
    else:
        initialize_list.append("")
dataset['capacity'] = initialize_list
#dataset['capacity']

check_variant = dataset['variant'].values
capacities = dataset['capacity'].values


for number in range(0,len(capacities)):
    if capacities[number] == '':    
        get_float = re.findall("\d+\.\d+", check_variant[number])
        if len(get_float)>0:
            capacities[number] = get_float[0]
        else:
            capacities[number] = ''



dataset['capacity']=capacities

In [82]:
dataset.head()

,id,time_ago,ad_link,title,make,model,machine_capacity,variant,year,transmission,fuel,description,amount,area,fuel_fix,transmission_fix,capacity
0,5.90884e+06,01/01/2019,https://www.olx.co.id/iklan/ertiga-gl-2016-aut...,ertiga gl 2016 automatic,suzuki,ertiga,,gl,2016,automatic,,,150000000,Yogyakarta,Bensin,Automatic,
1,5.9089e+06,01/01/2019,https://www.olx.co.id/iklan/mobil-sport-hyunda...,mobil sport hyundai coupe,hyundai,coupe,,,2000,automatic,,dijual mobil sport hyundai 2 pintu\r\njok depa...,150000000,Yogyakarta,Bensin,Automatic,
2,5.90895e+06,01/01/2019,https://www.olx.co.id/iklan/honda-hrv-type-e-m...,honda hrv type e matic istimewa km rendah,honda,hr-v,,e special editon,2015,automatic triptonic,,honda hrv e matic tangan pertama dr baru\r\nko...,245000000,Yogyakarta,Bensin,Automatic,
3,5.90900e+06,01/01/2019,https://www.olx.co.id/iklan/honda-brio-e-cbu-t...,honda brio e cbu th 2012 at,honda,brio,,e,2012,automatic,,honda brio e cbu\r\nth 2012\r\nautomatic\r\nfu...,110000000,Yogyakarta,Bensin,Automatic,
4,5.90904e+06,01/01/2019,https://www.olx.co.id/iklan/vellfire-gs-sport-...,vellfire gs sport 2013 istimwa km low,toyota,vellfire,,zg,2013,automatic,,vellfire gs sport 2013 istimwa km low\r\nbsa b...,650000000,Yogyakarta,Bensin,Automatic,

In [83]:

pd.DataFrame(dataset).to_csv("temp_jogja.csv")

In [61]:
b=len(dataset.year)
print(b)

41826

In [62]:
a = len(dataset.title)
print(a)

41826

In [63]:
#Fixing/Matching the Years
regex =  "\d{4}" #set the regex to find 4 digit numbers
list_year = dataset['year'].tolist()
list_title = dataset['title'].tolist()

type(list_title)
type(list_year)
print(list_title[2])

for i in range(0,len(list_year)):
    match= re.findall(regex, list_title[i])
    if len(match)>0:
        year_title = int(match[0])
        if year_title > list_year[i]:
            list_year[i] = year_title
            
dataset['year'] = list_year
dataset.head()

hyundai i20 sg mt 2011 ,bu

,time_ago,ad_link,title,make,model,machine_capacity,variant,year,transmission,fuel,description,address,city,province,amount,gabungan,fuel_fix,transmission_fix
id,,,,,,,,,,,,,,,,,,
5909025,01/01/2019,https://www.olx.co.id/iklan/daihatsu-rocky-2-8...,daihatsu rocky 2.8 tahun 1996 plat ab,daihatsu,rocky,2800,2.8,1996,manual,,dijual daihatsu rocky 2.8 1996\r\ntawaran terb...,"yogyakarta kota, yogyakarta d.i.",yogyakarta kota,yogyakarta d.i.,35000000.0,daihatsu rocky daihatsu rocky 2.8 tahun 1996 p...,,Manual
5909150,01/01/2019,https://www.olx.co.id/iklan/honda-brio-satya-e...,honda brio satya e 2017 ab manual cat 100% ori...,honda,brio,,e,2017,manual,,honda brio satya e facelift (new bemper headl...,"yogyakarta kota, yogyakarta d.i.",yogyakarta kota,yogyakarta d.i.,128000000.0,honda brio honda brio satya e 2017 ab manual c...,,Manual
5909650,01/01/2019,https://www.olx.co.id/iklan/hyundai-i20-sg-mt-...,"hyundai i20 sg mt 2011 ,bu",hyundai,i20,,sg,2011,manual,,"bismillah, bu segera.\nkondisi wajar pemakaian...","yogyakarta kota, yogyakarta d.i.",yogyakarta kota,yogyakarta d.i.,82000000.0,"hyundai i20 hyundai i20 sg mt 2011 ,bu https:/...",,Manual
5909675,01/01/2019,https://www.olx.co.id/iklan/toyota-kijang-lgx-...,toyota kijang lgx diesel thn 1998 istimewa,toyota,kijang,,lgx,1998,manual,,langsung hub pembeli nomer ada digambar bapak ...,"sleman kab., yogyakarta d.i.",sleman kab.,yogyakarta d.i.,82000000.0,toyota kijang toyota kijang lgx diesel thn 199...,Solar,Manual
5909850,01/01/2019,https://www.olx.co.id/iklan/dijual-bmw-318i-e4...,dijual bmw 318i e46 m43 silver tahun 2000 isti...,bmw,serie 3,,318i e46 1.8,2000,automatic triptonic,,-dijual bmw 318i e46 m43 tahun 2000\ntipe vari...,"yogyakarta kota, yogyakarta d.i.",yogyakarta kota,yogyakarta d.i.,122000000.0,bmw serie 3 dijual bmw 318i e46 m43 silver tah...,,Automatic